* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Quattrocento", serif;
  /* font-family: "Alice", serif; */
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
  background: #0c0c0c;
}

::-webkit-scrollbar-thumb:hover {
  background: #484848;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

.center-line {
  display: none;
  position: fixed;
  background-color: greenyellow;
  top: 0;
  justify-self: center;
  width: 2px;
  height: 100%;
  z-index: 2000;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin-top: 50px;
  gap: 60px;
  width: 110%;
  height: 100px;
  z-index: 1000;
  margin-left: 7px;
}

.nav-left,
.nav-right {
  display: flex;
  gap: 40px;
}

.nav-left a,
.nav-right a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 600;
}

header a:hover {
  filter: brightness(80%);
}

@media (max-width: 674px) {
  header {
    gap: 30px;
  }
  .nav-left,
  .nav-right {
    gap: 20px;
  }
  .nav-left a,
  .nav-right a {
    font-size: 12px;
  }
  #telluridelogo {
    max-width: 150px;
  }
}

@media (max-width: 469px) {
  .nav-left,
  .nav-right {
    display: none;
  }
  header {
    justify-content: flex-start;
    width: 110%;
  }
  #hamburger {
    display: flex !important;
  }
  #telluridelogo {
    margin-left: 50px;
  }
}

#telluridelogo {
  width: 200px;
  height: auto;
}

#hamburger {
  position: absolute;
  display: none;
  align-self: center;
  right: 50px;
  opacity: 80%;
}

#mobile-nav-menu {
  display: none;
  opacity: 0;
  position: fixed;
  margin: 0;
  left: 0;
  top: 100px;
  width: 100%;
  height: 40%;
  z-index: 999;
  background-color: #00000095;
}

.show-mobile-nav {
  display: block !important;
  opacity: 1 !important;
}

#mobile-nav-menu nav {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

#mobile-nav-menu nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 32px;
}

#main-section {
  min-height: 100vh;
}

.main-section-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}
.main-section-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  z-index: 999;
  color: white;
}

.main-section-text h1 {
  font-weight: 300;
  font-size: 48px;
  letter-spacing: 5px;
}

.main-section-text h2 {
  font-weight: 300;
  font-style: italic;
}

@media (max-width: 375px) {
  .main-section-text h2 {
    font-size: 20px;
  }
}

#reservation-button {
  text-decoration: none;
  color: white;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.1s linear;
}

#table-icon {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#reservation-button:hover {
  filter: brightness(80%);
}

.table-icon-animation {
  opacity: 1;
  animation: swing-in 0.3s ease-in forwards;
}

@keyframes swing-in {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#dining-room {
  position: absolute;
  object-fit: cover;
  left: 0px;
  width: 100vw;
  min-width: 600px;
  min-height: 1000px;
  filter: brightness(20%);
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 600px;
  height: 600px;
  font-family: "Alice", serif;
}

.shadow-top {
  position: absolute;
  width: 100%;
  height: 100px;
  top: -1px;
  z-index: 9999;
  background: linear-gradient(
    rgb(0, 0, 0),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0)
  );
}
.shadow-bottom {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: -1px;
  z-index: 9999;
  background: linear-gradient(
    rgb(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0)
  );
}

#paper-texture {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

#wooden-texture {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  filter: brightness(50%);
}

#kitchen-img {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 120%;
  object-fit: cover;
  z-index: 1;
  filter: brightness(20%);
}

.section-content {
  position: relative;
  min-width: 50%;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}

.mountains-png {
  width: 100%;
  height: 100%;
  background-image: url("../images/9121424.png");
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  filter: grayscale(100%);
}

.section-text {
  z-index: 999;
  position: absolute;
  color: white;
  max-width: 1000px;
}

section h1 {
  font-size: 56px;
  font-weight: 300;
  color: white;
}

.section-text hr {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50px;
  justify-self: center;
  opacity: 50%;
}

.history-text {
  word-break: break-word;
  line-height: 1.6rem;
  font-size: 18px;
  margin: 0 20px;
  max-width: 90%;
}

.about-text p {
  word-break: break-word;
  line-height: 1.6rem;
  font-size: 18px;
  margin: 20px 20px;
}

.awards-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  height: auto;
  margin-bottom: 40px;
}

.awards-container img {
  max-height: 120px;
}

@media (max-width: 1374px) {
  .about-text p {
    font-size: 16px;
    margin: 10px 20px;
  }
}

@media (max-width: 999px) {
  #history-section {
    flex-direction: column;
    min-height: 1000px;
    justify-content: center;
    align-items: center;
  }
  .section-content {
    width: 100%;
  }
  .awards-container img {
    max-height: 80px;
  }
}

@media (max-width: 636px) {
  section h1 {
    font-size: 42px;
  }
  .about-text p {
    font-size: 14px;
  }
}

@media (max-width: 465px) {
  .awards-container img {
    max-height: 50px;
  }
  .about-text p {
    text-align: left;
    margin: 0 10px;
  }
}
@media (max-width: 365px) {
  .awards-container {
    margin-bottom: 5px;
  }
}

@media (max-width: 355px) {
  section h1 {
    font-size: 34px;
  }
  .about-text {
    font-size: 14px;
  }
}

#menu-section {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
}

#menu-container {
  position: relative;
  background-image: url("../images/watercolor-paper-texture.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  min-width: 325px;
  width: 600px;
  max-height: 850px;
  min-height: 90%;
  margin: 0 10px;
  z-index: 2;
  box-shadow: 0px 6px 12px black;
}

.select-nav {
  position: absolute;
  display: flex;
  width: 200px;
  height: 30px;
  top: -30px;
}

.select-nav button {
  width: 100px;
  height: 30px;
  border: none;
  background-image: url(../images/watercolor-paper-texture.png);
  top: -30px;
  cursor: pointer;
}

#buffet-select {
  font-family: "Quattrocento", serif;
  font-weight: 600;
  border-radius: 5px 5px 0 0;
}

#carte-select {
  font-family: "Quattrocento", serif;
  font-weight: 600;
  border-radius: 5px 5px 0 0;
}

.apply-shadow {
  box-shadow: inset 4px -2px 6px rgba(0, 0, 0, 0.304);
  filter: brightness(80%);
}

.apply-shadow-inverse {
  box-shadow: inset -4px -2px 6px rgba(0, 0, 0, 0.304);
  filter: brightness(80%);
}

.allergies-text {
  position: absolute;
  font-size: 12px;
  width: 100%;
  bottom: 10px;
  text-align: center;
  font-weight: 600;
  color: black;
}

#carte-container {
  display: flex;
  flex-direction: column;
}

.hide-container {
  display: none !important;
}

#white-paper-texture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 3;
}

.menu-section-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.menu-section-text h1 {
  color: black;
  margin: 10px 0;
  font-size: 42px;
}

.menu-nav {
  display: flex;
  gap: 40px;
}

.menu-nav p {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.menu-nav p:hover {
  transform: scale(103%);
}

#menu-container hr {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 50%;
  justify-self: center;
  align-self: center;
}

.menu-items-container {
  display: none;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  height: auto;
  z-index: 999;
  transition: opacity 0.3s ease-in-out;
}

.show-catagory {
  display: flex;
}

.underline {
  position: relative;
}

.underline::after {
  content: "";
  position: absolute;
  text-decoration: underline;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #00000000, #000000, #00000000);
}

.menu-item {
  margin-left: 20px;
  margin-bottom: 20px;
}

.menu-item h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.menu-item p {
  margin: 5px 0;
  color: #555;
  max-width: 80%;
  word-wrap: break-word;
  line-height: 1.4;
}

.menu-item:last-child {
  border-bottom: none;
}

.price {
  position: absolute;
  font-weight: 500;
  right: 40px;
  margin-top: 30px;
}

.menu-section-text.buffet {
  margin-top: 20px;
}

.buffet-info-text {
  display: flex;
  gap: 10px;
}

.buffet-price {
  font-weight: bold;
  font-size: 18px;
  transform: translateY(-1px);
}

.buffet-menu {
  display: flex;
  flex-wrap: wrap;
}
.menu-item.special {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
}

.buffet-menu-items {
  margin: 5px 0;
  max-width: 45%;
}

.buffet-menu-items h3 {
  margin-left: 40px;
}

.buffet-menu-items li {
  margin: 5px 0;
  color: #555;
  font-size: 14px;
}

@media (max-width: 493px) {
  .menu-item h3 {
    font-size: 16px;
  }
  .menu-item p {
    font-size: 14px;
  }
}

@media (max-width: 415px) {
  .menu-item h3 {
    font-size: 14px;
  }

  .buffet-menu-items h3 {
    font-size: 14px;
  }

  .menu-item.special p {
    font-size: 10px;
  }

  .buffet-menu-items li {
    font-size: 12px;
  }

  .menu-item p {
    font-size: 12px;
    max-width: 70%;
  }

  .menu-section-text h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .menu-nav p {
    font-size: 12px;
  }
}

#contact-section {
  position: relative;
  min-height: 100vh;
  align-items: center;
  font-family: "Quattrocento", serif;
}

#mauntains-img {
  position: absolute;
  left: 0;
  width: 100vw;
  height: calc(100% + 200px);
  object-fit: cover;
  z-index: 0;
  filter: brightness(10%);
}

.contact-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 10px;
  color: white;
  left: 0;
  border: 1px solid rgba(63, 63, 63, 0.575);
  border-radius: 12px;
  min-width: 300px;
  width: 800px;
  height: 500px;
  backdrop-filter: blur(4px);
  z-index: 1;
  padding: 20px;
  margin: 0 10px;
}

.contact-container h2 {
  font-size: 32px;
  font-weight: 400;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 300px;
  width: 50%;
  font-family: "Alice", serif;
}

input {
  min-width: none;
  width: 100%;
  border-radius: 20px;
  height: 40px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.101);
  outline: none;
  border: 1px solid rgba(63, 63, 63, 0.575);
  color: white;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Alice", serif;
}

textarea {
  width: 100%;
  border-radius: 20px;
  height: 80px;
  padding-left: 20px;
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 0.101);
  outline: none;
  border: 1px solid rgba(63, 63, 63, 0.575);
  color: white;
  resize: none;
  font-family: "Alice", serif;
}

textarea::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
}

form button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: none;
  width: 100%;
  border-radius: 20px;
  height: 40px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.101);
  outline: none;
  border: 1px solid rgba(63, 63, 63, 0.575);
  color: white;
  cursor: pointer;
}

form button:hover {
  filter: brightness(70%);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #00000057;
  color: white;
  flex-shrink: 0;
  z-index: 1;
}

footer a {
  text-decoration: none;
  color: white;
}

.site-by {
  margin-top: 10px;
  font-size: 10px;
  font-style: italic;
  text-align: right;
}

.footer-text {
  font-size: 12px;
  position: absolute;
  right: 50px;
  text-align: right;
}

.wine-png {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  transform: scale(0.6);
  background-image: url("../images/wine.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: 0;
  pointer-events: none;
}

.desserts-png {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  transform: scale(0.8);
  background-image: url("../images/desserts.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: 0;
  pointer-events: none;
}

.starters-png {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  transform: scale(0.8);
  background-image: url("../images/starters.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: 0;
  pointer-events: none;
}

.menu-checkbox {
  position: absolute;
  right: 15px;
  margin-top: 20px;
  width: 17px;
  cursor: pointer;
}

#order-mode-container {
  z-index: 999;
  position: absolute;
  top: -30px;
  right: 0;
  width: 100px;
  height: 30px;
  background-image: url(../images/watercolor-paper-texture.png);
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#order-total-text {
  font-weight: 500;
}

#oder-total {
  font-weight: 600;
}

.hide-order-shadow {
  box-shadow: inset 0px -4px 6px rgba(0, 0, 0, 0.304);
  filter: brightness(80%);
}
